# Godot 4+ specific ignores
/android/
.import/
.export/
*.translation
mono_crash.*.json
godot_crash_*.log

# Godot editor cache
.godot/
*.uid

# Visual Studio
.vs/

# C# / Mono
.mono/
data_*/
*.user
*.userprefs
*.sln.DotSettings

# Builds
bin/
obj/

# OS junk
.DS_Store
Thumbs.db